@using MudBlazor
@using Octans.Core.Infrastructure
@inject ILocalFileImportViewmodel Viewmodel
@inject StorageService StorageService

<div class="file-input-wrapper">
    <MudFileUpload T="IReadOnlyList<IBrowserFile>" @bind-Files="Viewmodel.LocalFiles">
        <ActivatorContent>
            <MudButton
                Variant="Variant.Filled"
                Color="Color.Primary"
                StartIcon="@Icons.Material.Filled.CloudUpload">
                Choose files
            </MudButton>
        </ActivatorContent>
    </MudFileUpload>
</div>

@if (Viewmodel.LocalFiles.Count > 0)
{
    <div class="file-list">
        <h5>Selected Files (@Viewmodel.LocalFiles.Count):</h5>
        @foreach (var file in Viewmodel.LocalFiles)
        {
            <div class="file-item">
                <span>@file.Name</span>
                <span>@StorageService.FormatFileSize(file.Size)</span>
            </div>
        }
    </div>
}

<MudButton
    Class="send-button"
    OnClick="@Viewmodel.SendLocalFilesToServer"
    Disabled="@(Viewmodel.LocalFiles.Count == 0)">
    Import
</MudButton>